<ion-header>
  <ion-navbar>
    <ion-title>工地开放</ion-title>
  </ion-navbar>
</ion-header>

<!--<ion-content>  	
	<ion-list inset  *ngFor="let buildings of batchbuildings">				
		<ion-item> <h2>{{projname}} : {{buildings.batchname}}</h2>	</ion-item>
		<ion-item detail-push *ngFor="let building of buildings.buildings" (click)="itemSelected(buildings.batchid,building)">    
    <h2>{{building.buildingname}}</h2>
	 
		<button *ngIf="building.needtype===1" ion-button clear item-right color='primary' (click)="downloadclicked(buildings.batchid,building)">下载</button>
		<button *ngIf="building.needtype===2" ion-button clear item-right color='danger' (click)="uploadclicked(buildings.batchid,building)">上传</button>
    <button *ngIf="building.needtype===3" ion-button clear item-right color='primary' (click)="updateclicked(buildings.batchid,building)">更新</button>
		</ion-item>
	</ion-list>	
</ion-content>-->

<ion-content>

		<ion-img width="100%" height="100%" src="assets/img/happy.jpg"></ion-img>

</ion-content>

