<ion-header>
  <ion-navbar>
    <ion-title>{{buildingname}}{{roomname}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
  <ion-item>
    <ion-label>部位</ion-label>
    <ion-select [(ngModel)]="position" (ionChange)="positionchange()">
      <ion-option *ngFor="let item of positions">{{ item }}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>检查项</ion-label>
    <ion-select [(ngModel)]="checkitem" (ionChange)="itemchange()">
      <ion-option *ngFor="let item of checkitems" >{{item}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>描述</ion-label>
    <ion-select multiple="true" [(ngModel)]="itdesc">
      <ion-option *ngFor="let item of itemdescs">{{ item }}</ion-option>
    </ion-select>
  </ion-item>
  </ion-list>
  <ion-list>
   <ion-item>
    <ion-input type="text" placeholder="补充说明" height=100px [(ngModel)]="descplus"></ion-input>
  </ion-item>
  </ion-list>
  
  <ion-list>
  <ion-item>
    <button ion-button icon-only (click)="cameraclick()">
	  <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
	 </button>
	
    <ion-thumbnail item-left *ngFor="let item of images">
      <div style="color:red"><ion-icon item-right ios="ios-close" md="md-close" (click)="deleteimage(item)"></ion-icon></div>
      <img [src]="item" (click)="showBigImage(item)">
    </ion-thumbnail>
  </ion-item>
  </ion-list>
  
    <ion-list>
  <ion-item>
    <ion-label>紧急程度</ion-label>
    <ion-select [(ngModel)]="uglevel">
      <ion-option *ngFor="let item of urgencylevel">{{ item }}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>承建商(整改单位)</ion-label>
    <ion-select [(ngModel)]="vend" (ionChange)="vendorchange()">
      <ion-option *ngFor="let item of vendors" >{{item}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>责任单位</ion-label>
    <ion-select [(ngModel)]="resunit" (ionChange)="responsibilityunitchange()">
      <ion-option *ngFor="let item of responsibilityunits">{{ item }}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
      <ion-toggle [(checked)]="fixedchecked" (ionChange)="fixedchange($event)"></ion-toggle>
      <ion-label>
        现场整改通过
      </ion-label>
  </ion-item>
  </ion-list>  
  
  <button ion-button block (click)="uploadclick()">提交</button>
  
</ion-content>
